{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<main>
        <div class="form-container form-container--login">
            <form method="post" class="form" novalidate>
                <header>
                    <h2 class="form__title"> <i class="far fa-user-circle"></i> Se connecter</h2>
                </header>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <section class="form__body">
                    {% if app.user %}
                        <div class="mb-3">
                           Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% else %}
                   <fieldset>
                        <i class="fas fa-user"></i><input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Votre mail" autocomplete="email" required autofocus>
                    </fieldset>
                    <fieldset>
                        <i class="fas fa-key"></i><input type="password" name="password" id="inputPassword" placeholder="Votre mot de passe" autocomplete="current-password" required><i class="fas passwordDisplay fa-eye"></i><i class=" passwordDisplay fas fa-eye-slash hidden"></i>
                    </fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                    </div>
                    <button class="btn submit" type="submit">
                        Se connecter
                    </button>
                    <small>Pas de compte ?<a href="{{path('app_register')}}"> Inscrivez-vous !</a></small>
                    {% endif %}
                </section
            </form>
        </div>
</main>
{% endblock %}
