

<header class="main-header">
        {% if app.user %}
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>  
            </div>
        {% endif %}
        <nav>
            <div class="logo"><a href="{{path('main-home')}}"><img src="{{asset('images/logo.png')}}" alt=""></a> <h1>Ma messagerie en ligne</h1></div>
            {% if app.user %}
                {# <div id="hamburger-nav">
                    <ul>
                        <li><a href="{{path('chat-list')}}"> Mes conversations</a></li>
                        <li><a href="{{path('contact-list')}}"> Contacts</a></li>
                        <li class="dropdown"> 
                                <button class="dropbtn">Profil ( Connecté en tant que {{ app.user.login }})
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="{{path('user-profile')}}">Mon compte</a>
                                    <a href="{{path('app_logout')}}">Se déconnecter</a>
                                </div>
                        </li>       
                    </ul>
                </div> #}
            {% endif %}
        </nav>  
    </header>